<head>
  <meta charset="utf-8">
  <title id="title">Gilbert Index</title>
  <meta name="description" content="financial independence, personal finance, early retirement, money, lifestyle design">
  <link id="favicon" rel="icon" href="{{site.url}}money-icon.ico" type="image/x-icon">
  <link rel="canonical" href="{{ site.url}}{{ page.url | remove_first: "/"}}" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:url"           content="{{ site. url}}" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Gilbert Index" />
  <meta property="og:description"   content="Gibert Index is a column about money, financial independence, personal finance, and life." />

  <link rel="stylesheet" href="/css/main.css">
  </head>
