---
# Only the main Sass file needs front matter (the dashes are enough)
---

* {
  box-sizing: border-box;
}

body {
  margin: 8px;
  max-width: 100%;
  line-height: 1.5;
}

p {
  text-align: justify;
}

#site-container {
  max-width: 520px;
  margin: 15px;
}

h1, h2 {
  color: #CC0921;
}

img {
  max-width: 100%;
}

li {
  margin: 5px;
}

a {
  color: #CC0921;
  text-decoration: none;
}

a:hover {
  border-bottom: 5px solid #CC0921;
}

footer p {
  text-align: left;
}

.social-media a {
  color: #fff;
  background-color: #CC0921;

  &:hover {
    color: #CC0921;
    background-color: #fff;
  }
}

.promo-code {
  color:#CC0921;
}

#email-form {
  display: flex;
  flex-direction: column;

  .signup {
    display: flex;

      input {
        height: 30px;
        font-size: 125%;
        border: 1px solid black;
        padding: 3px;
        margin-right: 3px;
        font-family: serif;
        border-radius: 0px;
      }
  
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 2px;
        padding-left: 2px;
        line-height: 1;
        font-size: 125%;
        color: #fff;
        border: 1px solid black;
        background-color: #CC0921;
        transition: opacity .75s;

        &:hover {
          opacity: .5;
          border-bottom: none;
        }

        &:active {
          transform: translateY(2px);
        }
      }
  } 
}

.bottom-page {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 493px) {
  form span {
    display: inline;
    #email-box, #submit-input {
      margin: auto;
    }
  }
}
