<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div id="site-container">
    {% include header.html %}
    <main class="page-content" aria-label="Content" role="main">
       <div class="wrapper">
         {{ content }}
       </div>
     </main>
     <hr>
    {% include footer.html %}
 
    <a href="{{ "win-wins.html" | relative_url }}">Win-Wins</a> |
    <a href="{{ "books.html" | relative_url }}">Books</a> |
    <a href="{{ "disclaimer.html" | relative_url }}">Disclaimer</a> 
    <p>&copy; <span id="year"></span> Gilbert Index. All Rights Reserved</p>
   </div>
   <script>
    const year = document.getElementById('year');
    const today = new Date();
    year.innerText = today.getFullYear();
   </script>
  </body>
</html>
