<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div id="page">
    {% include header.html %}
    <main class="page-content" aria-label="Content" role="main">
       <div class="wrapper">
         {{ content }}
       </div>
     </main>
     <hr>
    <div class="rss-subscribe">If you like coffee, subscribe
      <a href="{{ "/feed.xml" | prepend: site.baseurl }}">&nbsp;via RSS&nbsp;</a>
      <img src="../assets/icons/ic_rss_feed_black_24px.svg">
    </div>
   </div>
  </body>
</html>
