---
layout: default
---
<article class="post" role="article" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}"
      itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} •
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  <p>
    <span>Share this article because fun things can happen:</span>
    <a href="https://twitter.com/share?
    url={{ page.url }}
    &text=Gilbert Index: {{ page.title }} By @gilbertginsberg">
      Twitter</a>,
    <a href="https://www.facebook.com/dialog/feed?
    app_id=1334490096618223
    &link={{ page. url }}">
    Facebook
  </a>
  </p>
</article>
